<section>
  <div class="top-header">
    <div class="top-hedaer-cont">
      <ul>
        <li><a href="#">Accessibility Statement</a></li>
        <li><a href="#">
          <svg class="Styles__AccountIcon-d7nzgu-1 pWXnP" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="a46a6bad-6b6d-461e-ac53-9ce79e870a43"><title id="a46a6bad-6b6d-461e-ac53-9ce79e870a43">Account</title><path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 4.79092C13.5 2.53192 11.4849 0.700012 9 0.700012L8.782 0.704731C6.39831 0.808141 4.5 2.59836 4.5 4.79092V5.6091C4.5 7.8681 6.5151 9.70001 9 9.70001L9.218 9.69529C11.6017 9.59188 13.5 7.80166 13.5 5.6091V4.79092ZM8.84702 2.20332L9.014 2.19901L9.18583 2.20488C10.7822 2.28873 12 3.44567 12 4.79092V5.6091L11.9946 5.76395C11.9049 7.04676 10.7094 8.12918 9.15298 8.1967L8.96754 8.20036L8.78519 8.19546C7.21783 8.1113 6 6.95435 6 5.6091V4.79092L6.0054 4.63607C6.09507 3.35326 7.29059 2.27084 8.84702 2.20332ZM15.3594 12.6468C13.6548 12.1815 11.3274 11.7 9 11.7C6.6726 11.7 4.3452 12.1815 2.6406 12.6468C1.0773 13.0725 0 14.4972 0 16.1172V18H18V16.1172L17.9949 15.9238C17.913 14.3848 16.8602 13.0555 15.3594 12.6468ZM3.03471 14.0941C5.07704 13.5366 7.12428 13.2 9 13.2C10.8757 13.2 12.923 13.5366 14.9644 14.0939L15.1214 14.1434C15.9428 14.4386 16.5 15.2247 16.5 16.1172V16.499H1.5V16.1172L1.50646 15.9512C1.57496 15.0735 2.1823 14.3262 3.03471 14.0941Z" fill="black"></path></svg>
          My Account</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Newsletter</a></li>
        <li><a href="#">Help</a></li>
        <li class="drop-arrow"><a href="#">Europe <img src="https://cdn.shopify.com/s/files/1/0021/1235/6427/files/551749-200_1.png?v=1625213538"></a></li>   
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="menu-sec">
    <div class="menu-cont">
      <div class="menu-logo">
        <a href="#"><svg class="Styles__Logo-sc-744ty0-8 cQPWMn" aria-labelledby="858756dc-b387-4102-a4d5-162e0a008052" xmlns="http://www.w3.org/2000/svg" width="145" height="111" fill="none" viewBox="0 0 145 111"><title id="858756dc-b387-4102-a4d5-162e0a008052">Gymshark Logo</title><path fill="#000" fill-rule="evenodd" d="M0 0l104.026 17.59-42.34 64.842h-3.602l-5.898 5.845-6.209-5.845h-1.648l-5.987 5.943-5.942-5.943h-2.011l-5.954 5.953-6.138-5.953H0l24.167 9.405 6.502-3.088 3.649 7.064 1.825.7 7.458-3.682 3.911 8.221 1.543.518-5.473 8.517L144.025.001H0z" clip-rule="evenodd"></path><path fill="#000" fill-rule="evenodd" d="M17.102 24.983l42.354 10.042-18.214 1.997-24.14-12.04z" clip-rule="evenodd"></path></svg></a>
      </div>      
      <div class="menu-content">
        <ul>
          <li><a href="#">Womens</a></li>
          <li><a href="#">MENS</a></li>
        </ul>
      </div>
      <div class="menu-icon">
        <a href="#">
        <svg class="Styles__SearchIcon-sc-4mixh6-1 jmTqIw" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="3b554c36-d2b8-44a1-b097-ac9039e22af7"><title id="3b554c36-d2b8-44a1-b097-ac9039e22af7">Search</title><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-1217.000000, -57.000000)" fill="#000000" fill-rule="nonzero"><g><path d="M1236.59048,75.4247619 L1231.82238,70.6566667 C1233.00429,69.2157143 1233.71667,67.37 1233.71667,65.3583333 C1233.71667,60.7440476 1229.97262,57 1225.35833,57 C1220.74,57 1217, 60.7440476 1217,65.3583333 C1217,69.972619 1220.74,73.7166667 1225.35833,73.7166667 C1227.37,73.7166667 1229.21167,73.0083333 1230.65262,71.8264286 L1235.42071,76.5904762 C1235.74452,76.9142857 1236.26667,76.9142857 1236.59048,76.5904762 C1236.91429,76.2707143 1236.91429,75.7445238 1236.59048,75.4247619 Z M1225.35833,72.0530952 C1221.66286,72.0530952 1218.65952,69.0497619 1218.65952,65.3583333 C1218.65952,61.6669048 1221.66286,58.6595238 1225.35833,58.6595238 C1229.04976,58.6595238 1232.05714,61.6669048 1232.05714,65.3583333 C1232.05714,69.0497619 1229.04976,72.0530952 1225.35833,72.0530952 Z"></path></g></g></g></svg>
        </a>
        <a href="#">
        <svg class="Styles__AccountIcon-sc-744ty0-5 kRqbv" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="33f638d9-0d61-4cf2-a77a-56b83d202b88"><title id="33f638d9-0d61-4cf2-a77a-56b83d202b88">Account</title><path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 4.79092C13.5 2.53192 11.4849 0.700012 9 0.700012L8.782 0.704731C6.39831 0.808141 4.5 2.59836 4.5 4.79092V5.6091C4.5 7.8681 6.5151 9.70001 9 9.70001L9.218 9.69529C11.6017 9.59188 13.5 7.80166 13.5 5.6091V4.79092ZM8.84702 2.20332L9.014 2.19901L9.18583 2.20488C10.7822 2.28873 12 3.44567 12 4.79092V5.6091L11.9946 5.76395C11.9049 7.04676 10.7094 8.12918 9.15298 8.1967L8.96754 8.20036L8.78519 8.19546C7.21783 8.1113 6 6.95435 6 5.6091V4.79092L6.0054 4.63607C6.09507 3.35326 7.29059 2.27084 8.84702 2.20332ZM15.3594 12.6468C13.6548 12.1815 11.3274 11.7 9 11.7C6.6726 11.7 4.3452 12.1815 2.6406 12.6468C1.0773 13.0725 0 14.4972 0 16.1172V18H18V16.1172L17.9949 15.9238C17.913 14.3848 16.8602 13.0555 15.3594 12.6468ZM3.03471 14.0941C5.07704 13.5366 7.12428 13.2 9 13.2C10.8757 13.2 12.923 13.5366 14.9644 14.0939L15.1214 14.1434C15.9428 14.4386 16.5 15.2247 16.5 16.1172V16.499H1.5V16.1172L1.50646 15.9512C1.57496 15.0735 2.1823 14.3262 3.03471 14.0941Z" fill="black"></path></svg>
        </a>
        <a href="#" class="cart-icon">
        <svg class="Styles__BagIcon-sc-744ty0-10 VuuCi" width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="1dc670fa-fe8f-4b84-9384-52b616437bd2"><title id="1dc670fa-fe8f-4b84-9384-52b616437bd2">Bag</title><path fill-rule="evenodd" clip-rule="evenodd" d="M12.2121 3.55H15.8V18H0.5V3.55H4.08793C4.4824 1.6705 6.15692 0.25 8.15 0.25C10.1431 0.25 11.8176 1.6705 12.2121 3.55ZM10.6589 3.55C10.3193 2.55725 9.40342 1.8238 8.31676 1.75525L8.15 1.75C6.99106 1.75 5.99789 2.50685 5.64105 3.55H10.6589ZM14.299 5.049H1.999V16.499H14.299V5.049Z" fill="black"></path></svg>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="slick-slider-sec">
    <div class="slider-cont">
      <a href="#">Good News! We are dispatching as normal and ensuring contactless delivery.</a>
<!-- 	  <a href="#">Good News! We are dispatching as normal and ensuring contactless delivery.</a>
      <a href="#">Good News! We are dispatching as normal and ensuring contactless delivery.</a> -->
    </div>
  </div>
</section>
<section>
  <div class="banner-sec">
    <div class="banner-cont">
      <div class="banner-content">
       <h1>New Releases</h1>
       <p class="para-p">Stock up on Vital.</p>
       <a class="btn-shop" href="#">SHOP NOW</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="banner-sec moving">
    <div class="banner-cont">
      <div class="banner-content">
       <h1>Moving Forward</h1>
       <p class="para-p">Latest releases.</p>
       <a class="btn-shop" href="#">SHOP NOW</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="shop-sec">
    <div class="women-shop">
      <div class="w-cont">
        <div class="w-content">
          <h1>SHOP<br>WOMENS</h1>
          <a href="#">Explore</a>
        </div>
      </div>
    </div>
    
<div class="women-shop m">
      <div class="w-cont">
        <div class="w-content">
          <h1>SHOP<br>MEN</h1>
          <a href="#">Explore</a>
        </div>
      </div>
</div>    
    
  </div>
</section>
<section>
  <div class="discout-sec">
    <div class="discout-cont">
      <div class="discout-content d">
        <div class="cont-discunt">
          <h4>Student Discount</h4>
          <a href="#" class="btn-2">Read More</a>
        </div>
      </div>
      <div class="discout-content c">
        <div class="cont-discunt">
          <h4>E-Gift Card</h4>
          <a href="#" class="btn-2">Shop Now</a>
        </div>
      </div>
      <div class="discout-content t">
        <div class="cont-discunt">
          <h4>Training App</h4>
          <a href="#" class="btn-2">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="workout-sec">
    <div class="workout-cont">
      <div class="workout-content">
        <h2>More than your best workout clothing</h2>
        <p class="para-workout">The Gymshark community is devoted to unlocking potential through conditioning and the things we do today to prepare for tomorrow. When it comes to performing at your max, there should be no obstacles – least of all your workout clothes. So everything about the gym clothes and accessories we design for you has your progress and the best results in mind. We want you to have the most comfortable gym hoodies, the most supportive seamless leggings and the most innovatively designed workout shirts that are made to move when it matters most.</p>
        <p>Game-changing workout clothing. It’s not just in the designs, it’s in the people who wear them.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="newsletter-sec">
    <div class="newsletter-cont">
      <div class="newsletter-content">
        <p>Sign up to our <span>newsletter</span> for the <span>latest news</span> and <span>exclusive deals</span> <a hre="#" class="sign-up-btn">SIGN UP</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="footer-sec">
    <div class="footer-cont">
      <div class="footer-link-sec">
        <div class="footer-left">
          <ul>
            <li><span>HELP</span></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Returns Policy</a></li>
            <li><a href="#">Make A Return</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Submit a Fake</a></li> 
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

